#link {
    position: relative;
    text-decoration: none;
}

#text {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    transition: all 0.2s ease;
}

#text:hover {
    color: rgba(213, 43, 30, 1);
}

#text::after {
    content: '';
    position: absolute;
    top: "auto";
    bottom: -3px;
    left: 2px;
    right: 0;
    width: 0%;
    height: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#text:hover::after {
    width: 101%;
    background-color: rgba(213, 43, 30, 1);
}

#content-buttons-menu {
    color: #d9dadb;
    font-weight: 400;
    font-size: 19px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#content-buttons-menu::after {
    content: '';
    position: absolute;
    top: "auto";
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#content-buttons-menu:focus {
    color: #fff;
}

#content-buttons-menu:focus::after {
    width: 105%;
    background-color: #fff;
}

#select {
    border-bottom: 1px solid #fff;
    cursor: pointer;
    position: relative;
    width: 400px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#select:hover {
    border-bottom: 2.4px solid #fff;
}

#select::after {
    content: '';
    position: absolute;
    bottom: -2px;
    top: auto;
    left: 0;
    right: 0;
    height: 2.4px;
    width: 0%;
    background-color: transparent;
    z-index: 99;
    transition: all 0.4s ease;
}

#select:focus::after {
    width: 100%;
    transition: all 0.3s ease;
    background-color: rgba(213, 43, 30, 1);
}

#input {
    border-bottom: 1px solid #fff;
    position: relative;
    max-width: 400px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#input:focus {
    border-bottom: 1px solid rgba(213, 43, 30, 1);
}

@media (max-width: 1380px) {
    #select-box {
        margin: 30px 0;
        margin-left: 20px;
        gap: 0;
        padding: 0 30px;
    }

    #content-buttons-list {
        margin-left: 50px;
    }
}

@media (max-width: 1300px) {
    #content-buttons-list {
        margin-left: 35px;
    }

    #products-box {
        padding: 0 27px;
    }

    #select-box {
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-left: 0;
    }

    #select {
        width: 320px;
    }

    #input {
        width: 320px;
    }
}


@media (max-width: 1050px) {
    #products-box {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 25px;
    }

    #select-box {
        gap: 3rem;
        margin-left: 0;
    }

    #select {
        width: 290px;
    }

    #input {
        width: 290px;
    }

    #content-menu {
        padding: 0 30px;
    }
}

@media (max-width: 980px) {
    #select-box {
        gap: 2.2rem;
    }

    #select {
        width: 270px;
    }

    #input {
        width: 270px;
    }
}

@media (max-width: 890px) {
    #select-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #select {
        width: 360px;
    }

    #input {
        min-width: 755px;
        display: flex;
        justify-content: center;
    }

    #eye-icon {
        display: none;
    }

    #left-popup {
        top: -100px;
        left: 66px;
        width: 360px;
    }

    #right-popup {
        top: -100px;
        left: 29rem;
        width: 360px;
    }

    #content-buttons-list {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    #products-box {
        grid-template-columns: repeat(2, 1fr);
    }

    #select {
        width: 220px;
    }

    #input {
        width: 220px;
    }

    #select-box {
        gap: 0;
        margin-left: 30px;
    }

    #content-buttons-list {
        display: flex;
        justify-content: center;
    }

    #content-menu {
        max-width: 600px;
    }
}

@media (max-width: 690px) {
    #products-box {
        padding: 0 20px;
    }
}

@media (max-width: 490px) {
    #products-box {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    #content-menu {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}